[submodule "00-order-summary-component"]
	path = 00-order-summary-component
	url = https://github.com/scottduller/00-order-summary-component.git
[submodule "01-three-column-preview-card-component"]
	path = 01-three-column-preview-card-component
	url = https://github.com/scottduller/01-three-column-preview-card-component.git
